body {
  margin: 0;
  padding: 0;
  background: #000;
}

.gameContainer {
  display: flex;
}

.instructions {
  flex: 1;
  color: #FFF;
  padding: 50px;
  font-family: 'arcadeclassicregular';
  font-size: 20px;
  word-spacing: 9px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px 0;
}

.coinsContainer {
  font-family: 'arcadeclassicregular';
  background: #000;
  color: #FFF;
  font-size: 30px;
  position: relative;
  border: 5px solid #03cac8;
  height: 50px;
  padding: 10px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
}

.coinsContainer:before {
  content: " ";
  position: absolute;
  top: 1px;
  left: 0px;
  right: 0;
  bottom: 0;
  border: 5px solid #bb075c;
  border-radius: 13px;
}

#restart {
  display: none;
}

#start,
#restart {
  background: black;
  border: none;
  color: #10d05d;
  font-family: 'arcadeclassicregular';
  font-size: 40px;
  border-radius: 7px;
  padding: 11px;
  cursor: pointer;
  z-index: 10;
}
#restart:hover,
#start:hover {
  cursor: pointer;
  border: 3px solid #10d05d;
}
/*                      sprites                      */
.spriteContainer {
  height: 658px;
  width: 700px;
  padding: 50px;
  position: relative;
  margin-left: 40px;
}

/*                      guyOnLion                      */
#lionGuy {
  width: 169px;
  height: 186px;
  background: url(images/fullSmall.png);
  position: absolute;
  top: 474px;
  left: 100px;
  background-position: -336px;
  z-index: 2;
}
#lionGuy.walking {
  animation: walking 0.5s steps(2) infinite;
}
@keyframes walking {
  from { background-position: 0px; }
  to { background-position: -338px }
}
#lionGuy.stopWalking {
  background-position: -336px;
  animation: stopWalking 0.1s;
}
@keyframes stopWalking {
  100% { background-position: -336px }
}
/*not yet*/
#lionGuy.reverseWalking {
  animation: walking 0.5s steps(2) infinite;
  animation-direction: reverse;
}

#lionGuy.jumping {
  animation: jumping 0.5s steps(2) infinite, goingUp 1.7s cubic-bezier(0.4, 0, 0.2, 1);
  background-position: 0px;
}
@keyframes goingUp {
  0% { top: 474px; }
  50% { top: 270px; }
  100% { top: 474px; }
}
@keyframes jumping {
  100% { background-position: 0px }
}

#lionGuy.dye {
  background-position: -506px;
  animation: dying 0.1s;
}
@keyframes dying {
  100% { background-position: -506px }
}

@keyframes wininn {
  from { background-position: -676px; }
  to { background-position: -1022px; } 
}
#lionGuy.win {
  animation: wininn 1s steps(2) infinite;
}

#lionGuy.chco {
  top: 325px;
}

/*                      Background                      */

.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/stage01.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  animation: animatedBackground 100s linear infinite;
  animation-play-state: paused;
}

.parallax.walking {
  animation-play-state: running;
}

.parallax.stopWalking {
  animation-play-state: paused;
}

.parallax.reverseWalking {
  animation-play-state: running;
  animation-direction: reverse;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  } 
}

/*                      Fire                      */
#copa {
  width: 83px;
  height: 91px;
  background: url(images/copa.png);
  animation: copaFire 0.5s steps(2) infinite, enemyAction2 4s infinite linear;
  position: absolute;
  bottom: 100px;
  right: 200px;
  display: none;
  animation-play-state: paused;
}
@keyframes copaFire {
  from { background-position: 0px; }
  to { background-position: -159px; }
}
@keyframes enemyAction2 {
	from { right: 0px; }
  to { right: 735px; }
}

#copa.showEnemy {
  display: block;
  animation-play-state: running;
}
#copa.stopEnemy {
  animation-play-state: paused;
}

#smallFireCoins1 {
  width: 120px;
  height: 290px;
  background: url(images/mitad1.png);
  animation: fireCoins 0.5s steps(2) infinite, enemyAction2 4s infinite linear;
  position: absolute;
  top: 179px;
  right: 200px;
  display: none;
  animation-play-state: paused;
  z-index: 1;
}
#smallFireCoins2 {
  width: 120px;
  height: 290px;
  background: url(images/mitad2.png);
  animation: fireCoins 0.5s steps(2) infinite, enemyAction2 4s infinite linear;
  position: absolute;
  top: 179px;
  right: 260px;
  display: none;
  animation-play-state: paused;
  z-index: 3;
}
@keyframes fireCoins {
  from { background-position: 0px; }
  to { background-position: -237px; }
}

#smallCoins {
  width: 120px;
  height: 290px;
  background: url(images/coins.png);
  animation: smallCoins 0.5s steps(2) infinite, enemyAction2 4s infinite linear;
  position: absolute;
  top: 179px;
  right: 200px;
  display: none;
  animation-play-state: paused;
  z-index: 1;
}

#coinsText {
  visibility: hidden;
  font-size: 30px;
  position: absolute;
  top: 250px;
  left: 103px;
  color: white;
  animation-play-state: paused;
  font-family: 'arcadeclassicregular';
  z-index: 10;
}


@keyframes smallCoins {
	from { right:0px; }
  to { right: -232px; }
}

#smallCoins.showEnemy,
#smallFireCoins1.showEnemy,
#smallFireCoins2.showEnemy {
  display: block;
  animation-play-state: running;
}

#smallFireCoins1.stopEnemy,
#smallFireCoins2.stopEnemy,
#smallCoins.stopEnemy {
  animation-play-state: paused;
}
