* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 20px;
  color: #314659;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  font-size: 14px;
  border: 1px solid #808080;
  padding: 5px;
}

h1 {
  font-size: 18px;
  display: flex;
  align-items: center;
}

h1 img {
  margin-right: 15px;
}


canvas {
border: 1px solid;
}

#closeButton {
display: none;
position: absolute;
top: 10px;
left: 838px;
padding: 14px;
background: #FF6D3B;
color: white;
font-size: 18px;
border-radius: 6px;
}

#closeButton.show {
display: block;
}

.container {
position: relative;
}


li {
  list-style: none;
  padding: 10px;
  margin: 9px 0;
}

.sidebar {
  width: 300px;
  padding: 0;
  margin-top: 50px;
  border-right: 1px solid #dcdcdc;
}

li.active {

  background: #ffdd9d;

  color: #ca4a00;
  border-right: 3px solid;
}



#demoContainer {
  padding: 20px 100px;
  width: 1400px;
}